<!DOCTYPE html>
<html lang="en">
<head>
    <title>Password changed!</title>
    <link rel="stylesheet" href = "../static/account.css">
</head>
<body>
    <h1 class="most"> &#x265C; Password changed successfully &#x265C; </h1>
    <p class="most"> &#x265B; Please login again for extra security &#x265B; </p>
    <nav class="most">
        <a href="{{ url_for('login') }}" class="success">Login</a> |
        <a href="{{ url_for('home') }}" class="success">Home</a>
    </nav>
</body>
</html>