<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login!</title>
    <link rel="stylesheet" href = "../static/account.css">
</head>
<body>
    <h1 class="most">Password change</h1>
    <p class="most">Please enter your current and new password here :</p>
    <form action="{{ url_for('changepw') }}" method="POST" class="most">
        <h2 class="text_pw">
            Current Password:
        </h2>
        <p>
            <input type="password" placeholder="Current Password" name="curr">
        </p>
        <h2 class="text_pw">
            New Password:
        </h2>
        <p class="most">
            <input type="password" placeholder="New Password" name="new">
        </p>
        
        <p>
            <input type="submit" value="Change">
        </p>
        
    </form>
    <p class="error">
        *Current password is wrong*
    </p>
    <a class="button" href="{{ url_for('account_home') }}">Back</a>
    
    
</body>
</html>