<!DOCTYPE html>
<html lang="en">
<head>
    <title>Account Settings</title>
    <link rel="stylesheet" href = "../static/account.css">
</head>
<body>
    <h1 class="most">Account Settings</h1>
    <p class="most">Make changes to your account</p>
    <nav class="most">
        |<a href="{{ url_for('login') }}" id="login">Logout</a> |
        <a href="{{ url_for('changepw') }}">Change Password</a>|
        <a href="{{ url_for('account_home') }}">Back</a> |
    </nav>
</body>
</html>