<!DOCTYPE html>
<html lang="en">
<head>
    <title>Thank you!</title>
    <link rel="stylesheet" href = "../static/gateway_order.css">
</head>
<body>
    <h1 class="most"> &#x265C; Order Page &#x265C; </h1>
    <p class="most"> &#x265B; Choose from a value $2.50 caifan or a custom one &#x265B; </p>
    <div class="most">
        <table border="2px">
        
            <tr class="header">
                <td>Set Name</td>
                <td>Details</td>
                <td></td>
            </tr>
            <tr class="desc">
                <td>$2.50 set</td>
                <td>An affordable set meal of 2 菜 1 肉</td>
                <td><a href="{{ url_for('order250') }}" class="click">Order!</a></td>
            </tr>
            <tr class="desc">
                <td>Custom set</td>
                <td>Mix and match your shenanigans</td>
                <td><a href="{{ url_for('order_cust') }}" class="click">Order!</a></td>
            </tr>
        </table>
    </div>
    
    <nav>
        <a href="{{ url_for('account_home') }}" class="success">Back</a> |
    </nav>
</body>
</html>