<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login!</title>
    <link rel="stylesheet" href = "../static/login.css">
</head>
<body>
    <h1>Welcome back, Weishuo</h1>
    <p>Please enter your password here :</p>
    <form action="{{ url_for('owner_login') }}" method="POST" class="form">
        <h2>
            Password:(it is 12345)
        </h2>
        <p>
            <input type="password" placeholder="password" name="pw">
        </p>
        
        <p>
            <input type="submit" value="Login">
        </p>
        
    </form>
    <p id="incorrect">
        {{ incorrect }}
    </p>
    
    <a class="button" href="{{ url_for('login') }}">Back</a>
    
    
</body>
</html>