<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome!</title>
    <link rel="stylesheet" href = "../static/people.css">
</head>
<body>
    <h1 class="title">Founders</h1>
    <div class="me">
        <h1 class="name">Dong Weishuo</h1>
        <p>yes, im the food delivery guy(i need more budgets)</p>
    </div>
    <div class="caifan">
        <h1 class="name">菜饭 laoban</h1>
        <p>and the laoban who dont even know about this project</p>
    </div>
    
    <a id="butt" href="{{ url_for('home') }}">Home</a>
</body>
</html>