<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome!</title>
    <link rel="stylesheet" href = "../static/register.css">
</head>
<body>
    <h1>Welcome to DongxPress!</h1>
    <p class="desc"> Register here, it is completely free !</p>
    <form action="{{ url_for('register') }}" method="post" class="form">
        <div class="div">
            Name : <input type="text" placeholder="Name" name="name" class="top_row" value={{ name }}>
            Class : <input type="text" placeholder="Class" name="class_" class="top_row" value={{ class_ }}>
            Index Number : <input type="number" placeholder="Index Number" name="indexno" min="1" class="top_row" value={{ index_no }}>
        </div>
        
        <p>
            Set Your Password :
        </p>
        <p>
            <input type="password" placeholder="Passsword" name="pw1" class="bottom_row">
        </p>
        <p>
            Confirm Your Password :
        </p>
        <p>
            <input type="password" placeholder="Confirm Passsword" name="pw2" class="bottom_row">
        </p>
        <div class="submit">
            <input type="submit" value="Register!">
        </div>
        
        <h2 class="fail">
            *Certain fields are empty*
        </h2>
    </form>
    <a class="button" href="{{ url_for('home') }}">Home</a>
</body>
</html>