<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank you!</title>
    <link rel="stylesheet" href = "../static/thank.css">
</head>
<body>
    <h1>
        &#10084;Thank you for supporting DongxPress!	&#10084;
    </h1>
    <p>
        &#128150;Your food will be delivered by me of course &#128150;
    </p>
    <p>
        Regarding payment i will collect from you when i give u the food.
    </p>
    <a href="{{ url_for('account_home') }}" id="home">Back</a>
</body>
</html>